# Ambientes Virtuais
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*.class
*.pyc

# Arquivos temporários e logs
*.log
.DS_Store
Thumbs.db
*.tmp

# Uploads temporários
scratch/

# Segredos e senhas
.streamlit/secrets.toml
secrets.toml
